body, html {
    font-family: 'Raleway', sans-serif;
    position: relative;
}
@media (min-width:768px) {
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
}

@media (max-width:544px) {
    .search-area h1 {
      font-size: 52px !important;
    }
}

/* SEARCH AREA */
.search-area {
    display: block;
    width: 100%;
    height: auto;
    padding: 60px 0px 40px 0px;
    background: rgb(32,76,102);
    background: -moz-radial-gradient(center, ellipse cover, rgba(32,76,102,1) 0%, rgba(21,50,67,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(32,76,102,1) 0%,rgba(21,50,67,1) 100%);
    background: radial-gradient(ellipse at center, rgba(32,76,102,1) 0%,rgba(21,50,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#204c66', endColorstr='#153243',GradientType=1 );
    text-align: center;
    color: #fff;
    position: relative;
}
.search-area:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    content: ' ';
    z-index: 1;
}
.search-area .container {
    position: relative;
    z-index: 2;
}
.search-area h1 {
    font-size: 72px;
    font-weight: 300;
    margin: 0;
    font-family: 'Ovo', sans-serif;
    text-transform: uppercase;
}
.search-area h4 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    opacity: 0.5;
}
.search-area .form-group {
    position: relative;
    display: block;
    margin-top: 30px;
}
.search-area .form-group img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 16px;
    width: 16px;
    height: 16px;
    bottom: 0;
    margin: auto;
}
.search-area .form-group .form-control {
    position: relative;
    background: rgba(255,255,255,0.02);
    border: 1px solid rgba(255,255,255,0.1);
    height: auto;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    padding: 15px 15px;
    box-shadow: none;
    padding-left: 62px;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
}
.search-area .form-group:before {
    position: absolute;
    top: 30%;
    left: 46px;
    width: 1px;
    height: 40%;
    background: #fff;
    content: ' ';
    opacity: 0.1;
}
.search-area .form-group .form-control:hover {
    background: rgba(255,255,255,0.05);
}
.search-area .form-group .form-control:focus {
    background: rgba(0,0,0,0.25);
    box-shadow: rgba(0,0,0,0.1) 0px 5px 10px;
}
.search-area .advanced {
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    color: rgba(255,255,255,0.5);
}
.search-area .advanced:hover,
.search-area .advanced:focus {
    color: #fff;
    text-decoration: none;
}

.grey-area {
    position: relative;
    display: block;
    background: #153243;
}
.grey-area #advancedFilters {
    display: none;
}
.grey-area .advanced {
    cursor: pointer;
    color: rgba(255,255,255,0.5);
    padding: 15px 0px;
    display: block;
    font-size: 14px;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
}
.grey-area .advanced:hover,
.grey-area .advanced:focus {
    color: #fff;
    text-decoration: none;
}
.grey-area #advancedFilters .checkboxes {
    padding-top: 15px;
}
.grey-area #advancedFilters .checkbox-inline {
    padding-left: 20px;
    cursor: pointer !important;
    width: calc(100% / 2);
    margin-left: 0px;
}
.grey-area #advancedFilters .checkbox-inline label {
    color: rgba(255,255,255,0.5);
    font-size: 12px;
    font-weight: normal;
    position: relative;
    cursor: pointer !important;
    display: block;
}
.grey-area #advancedFilters .checkbox-inline:hover label {
    color: rgba(255,255,255,0.85);
}
.grey-area #advancedFilters .checkbox-inline label input {
    opacity: 0;
}
.grey-area #advancedFilters .checkbox-inline label:after {
    position: absolute;
    top: 0;
    left: -20px;
    width: 16px;
    height: 16px;
    background: rgba(255,255,255,0.15);
    content: ' ';
    border-radius: 4px;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
}
.grey-area #advancedFilters .checkbox-inline label:before {
    position: absolute;
    top: 0;
    left: -20px;
    width: 16px;
    height: 16px;
    font-family: 'FontAwesome';
    content: '\f00c';
    border-radius: 4px;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
    font-size: 11px;
    text-align: center;
    opacity: 0;
}
.grey-area #advancedFilters .checkbox-inline:hover label:after {
    background: rgba(255,255,255,0.25);
}
.grey-area #advancedFilters .checkbox-inline.active label:before {
    opacity: 1;
}
.grey-area .upload-time {
    position: relative;
    display: block;
    background: rgba(255,255,255,0.05);
    text-align: center;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}
.grey-area .upload-time:hover {
    background: rgba(255,255,255,0.08);
}
.grey-area .upload-time p {
    display: block;
    margin: 0;
    font-weight: 400;
}
.grey-area .upload-time p span {
    display: block;
    font-size: 11px;
    opacity: 0.5;
    font-weight: normal;
}
.grey-area input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.results {
    padding: 40px 0px;
}
.results .result + .result {
    margin-top: 15px;
}
.results .result {
    padding: 10px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
    border: 1px solid #eee;
    border-radius: 5px;
}
.results .result b {
    display: block;
    font-size: 18px;
    font-weight: 500;
}
.results .result span {
    display: block;
    font-size: 16px;
    font-weight: normal;
    opacity: 0.5;
}
.results .result i {
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    opacity: 0.5;
}

.error {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  color: red;
  font-size: 13px;
}

.show { display: block; }
.hide { display: hide; }

/*.search-area {
	background: #383835;
    background-size: cover;
    color: wheat;
    border-radius: 0;
    letter-spacing: 1px;
    margin: 0;
    padding: 4rem 0`;
}

.search-area h1 {
	letter-spacing: 5px;
	text-transform: uppercase;
}

.search-area .search-bar {
	background: white;
    border-radius: 5px;
    margin-bottom: 28px;
}

.search-area .search-bar i {
	font-size: 1.4rem;
    color: #383835;
    padding: 22px 26px;
    background: wheat;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.search-area .search-bar .form-control {
	border: 0;
    border-radius: 0;
    padding: 18px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.search-area .filter-toggle {
	padding-bottom: 2px;
    border-bottom: 1px solid;
    cursor: pointer;
    font-size: 13px;
}

.search-area .advance-filters {
	text-transform: capitalize;
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
	transition: opacity 1s linear, visibility 1s linear, max-height 0.5s linear;
}

.search-area .advance-filters.show {
	opacity: 1;
	visibility: visible;
	max-height: 500px;
}

.search-result .results {
	margin: 36px 0;
}

.search-result .result {
	margin: auto;
}

.search-result .cat-result {
	padding: 12px;
}

.error {
	font-size: 12px;
    letter-spacing: 1px;
    color: red;
    font-weight: bold;
}


.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 1.5em;
  text-indent: 2.25em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 1.5em;
  background: #D1D3D4;
  border-radius: 4px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .4em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .4em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #383835;
    background-color: #f5deb3;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}


.input-group {
	width: auto;
    margin: 20px 0 5px;
}

.input-group label {
	margin: 0;
    width: auto !important;
}

.input-group label .btn.btn-primary {
	background: wheat;
    color: #383835;
    border: none;
    padding: 0.75rem 0.75rem;
    font-weight: bold;
    cursor: pointer;
}

.input-group .form-control {
	padding: 0.75rem .75rem !important;
	width: auto;
}

.form-control:focus {
	border-color: transparent;
}

.cursor-pointer {
  cursor: pointer;
}*/