<section class="jumbotron search-area">
	<div class="d-flex flex-row justify-content-center text-center">
		<div class="col-md-5">
			<div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
				<h1>Acronymy</h1>
				<!-- Place this tag where you want the button to render. -->
				<a class="github-button" href="https://github.com/Singapore-Tech-Entrepreneurs/acronymy" data-show-count="true" aria-label="Star STE/Acronymy on GitHub" style="margin: 10px 0">Star</a>

				<!-- Place this tag where you want the button to render. -->
				<a class="github-button" href="https://github.com/Singapore-Tech-Entrepreneurs/acronymy" data-show-count="true" aria-label="Fork STE/Acronymy on GitHub" style="margin: 10px 0">Fork</a>
			</div>
			
			<p>Your personalized acronyms search engine</p>
			<div class="form-group d-flex flex-row align-items-center search-bar">
				<i class="fa fa-search"></i>
				<input class="form-control form-control-lg" type="text" placeholder="Start your search..." [(ngModel)]="query" (ngModelChange)="search()">
			</div>
			<div class="text-left">
				<div class="advance-filters {{show_filters ? 'show': ''}}">
					<ul class="funkyradio" style="padding: 0; list-style-type: none">
						<li class="funkyradio-success" *ngFor="let category of categories; let i=index">
							<input type="checkbox" name="{{category.name}}" id="{{category.name}}" checked/>
					        <label for="{{category.name}}" (click)="toggleCategorySelection(i)">{{category.name}}</label>
						</li>
						<li class="upload-file d-flex flex-row justify-content-between align-items-center">
							<!-- <input id="file-input" type="file" placeholder="Upload File" (change)="fileUploaded($event)"> -->
							<div class="input-group">
				                <label class="input-group-btn">
				                    <span class="btn btn-primary">
				                        Browse&hellip; <input id="file-input" type="file" style="display: none;" (change)="fileUploaded($event)">
				                    </span>
				                </label>
				                <input type="text" class="form-control" value="{{file?.name}}" readonly>
				            </div>
							<span class="error">{{error}}</span>
						</li>
					</ul>
				</div>
				<a class="cursor-pointer filter-toggle" (click)="toggleFilters()">
					{{!show_filters ? 'Show' : 'Hide'}} Advance Filters <i class="fa {{!show_filters ? 'fa-chevron-down' : 'fa-chevron-up'}}"></i> 
				</a>
			</div>
		</div>
	</div>
</section>

<section class="search-result">
	<!-- <input type="text" placeholder="Search.." [(ngModel)]="query" (ngModelChange)="search()">
	<input type="file" placeholder="Upload File" (change)="fileUploaded($event)"> {{progress}}
	<div class="error" style="color: red">{{error}}</div>	 -->
	
	<div class="results" *ngIf="results.length">
		<div class="result col-md-5" *ngFor="let next_cat of results">
			<div *ngIf="next_cat.result && next_cat.result.length">
				<!-- <h3>{{next_cat.category}}</h3> -->
				<div class="cat-result" *ngFor="let next_item of next_cat.result">
					<b style="text-transform: uppercase;">{{next_item.Key}}</b>
					<p style="text-transform: capitalize;" *ngIf="next_item.abbreviation || next_item.Abbreviation">{{next_item.abbreviation || next_item.Abbreviation}}</p>
					<p style="text-transform: capitalize;" *ngIf="next_item.description || next_item.Description">{{next_item.description || next_item.Description}}</p>
				</div>
			</div>
		</div>
	</div>
</section>
