.search-area {
	background: #383835;
    background-size: cover;
    color: wheat;
    border-radius: 0;
    letter-spacing: 2px;
    margin: 0;
    padding: 4rem 0`;
}

.search-area h1 {
	letter-spacing: 5px;
	text-transform: uppercase;
}

.search-area .search-bar {
	background: white;
    border-radius: 5px;
}

.search-area .search-bar i {
	font-size: 1.4rem;
    color: #383835;
    padding: 22px 26px;
    background: wheat;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.search-area .search-bar .form-control {
	border: 0;
    border-radius: 0;
    padding: 18px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.search-area .filter-toggle {
	padding-bottom: 2px;
    border-bottom: 1px solid;
    cursor: pointer;
    font-size: 13px;
}

.search-area .advance-filters {
	text-transform: capitalize;
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
	transition: opacity 1s linear, visibility 1s linear, max-height 0.5s linear;
}

.search-area .advance-filters.show {
	opacity: 1;
	visibility: visible;
	max-height: 500px;
}

.search-result .results {
	margin: 36px 0;
}

.search-result .result {
	margin: auto;
}

.search-result .cat-result {
	padding: 12px;
}

.error {
	font-size: 12px;
    letter-spacing: 1px;
    color: red;
    font-weight: bold;
}