/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: Montserrat;
	src: url("./assets/fonts/Montserrat-Light.otf");
}

body {
	font-family: Montserrat !important;
}